<ul class="nav nav-sidebar">
    <li>
        <span>
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <a href="@Url.Action("Index", "Home")">
                Главная страница
            </a>
        </span>
    </li>
    <li>
        <span>
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
            <a href="@Url.Action("Index", "Subject")">
                Предметы и категории
            </a>
        </span>
    </li>
    <li>
        <span>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <a href="@Url.Action("", "")">
                Группы и тестируемые
            </a>
        </span>
    </li>
    <li>
        <span>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <a href="@Url.Action("Index", "GeneralQuiz")">
                Тесты
            </a>
        </span>
    </li>
    <li>
        <span>
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            <a href="@Url.Action("Index", "FormedQuiz")">
                Сформировать тест
            </a>
        </span>
    </li>
    <li>
        <span>
            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
            <a href="@Url.Action("", "")">
                Результаты
            </a>
        </span>
    </li>
    <li>
        <span>
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
            <a href="@Url.Action("", "")">
                Статистика
            </a>
        </span>
    </li>
</ul>
<style>
    a {
        color: black;
    }
    span {
        padding-bottom: 20px;
        padding-top: 15px;
    }
</style>
