<ul class="nav">
    <li>
        @Html.ActionLink("Главная", "Index", "Home")
    </li>
    <li>
        @Html.ActionLink("Предметы и категории", "Index", "Subject")
    </li>
    <li>
        @Html.ActionLink("Тесты", "Index", "GeneralQuiz")
    </li>
    <li>
        @Html.ActionLink("Группы", "", "")
    </li>
    <li>
        @Html.ActionLink("Студенты", "", "")
    </li>
    <li>
        @Html.ActionLink("Сформировать тест", "", "")
    </li>
</ul>
