@model EasyQuizy.Models.ViewModels.ResultListViewModel

@{
    ViewBag.Title = "Результаты";
}

<form method="get">
    <h2>Выберите тест и группу</h2>
    <fieldset>
        <p>
            Тест <br />
            @Html.DropDownList("FormedQuiz", Model.FormedQuizes as SelectList, new { id = "formedQuiz", @class = "form-control" })
        </p>
        <p>
            Группа <br />
            @Html.DropDownList("Group", Model.Groups as SelectList, new { id = "group", @class = "form-control" })
        </p>
        <p>
            <input type="submit" value="Показать" class="btn btn-success btn-md" />
        </p>
    </fieldset>
</form>

<table>
    <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Результат, %</th>
    </tr>
    @if (Model.Results != null)
    {
        foreach (var item in Model.Results)
        {
            if (item.Student != null)
            {
        <tr>
            <td>
                @item.Student.LastName
            </td>
            <td>
                @item.Student.FirstName
            </td>
            <td>
                @item.Student.MiddleName
            </td>
            <td>
                @item.ResultInPercent
            </td>
        </tr>
            }
        }
    }
</table>


